In [6]:
def multiplies(n, m):
    list_n = []
    for i in range(1, m+1):
        result = n * i
        list_n.append(result)
    return list_n

r1, r2, r3, r4 = multiplies(3, 4)
print(r1, r2, r3, r4)

3 6 9 12

In [27]:
def fact(m):
    a = 1
    for i in range(1, m + 1):
        tmp = a
        b = a * i
        a = b
    return a
    
print(fact(5))

120

In [30]:
def isum(*number):
    return sum(number)
print(isum(2, 3, 4, 5))

14

In [32]:
def isum(*numbers):
    result = 0
    for n in numbers:
        result += n
    return result
print(isum(2, 3, 4))

9

In [33]:
def isum(n):
    if n <= 1:
        return 1
    else:
        return n + isum(n - 1)
n = 5
print(isum(5))

15

In [42]:
#str = 'name, age, gender'
numbers = map(int, input('insert numbers').split(','))
print(list(numbers))

insert numbers 1,2,3,4

[1, 2, 3, 4]

In [45]:
def isum(numbers):
    return sum(numbers)

numbers = list(map(int, input('insert numbers :').split(',')))
print(isum(numbers))

insert numbers : 1,2,3,4

10