In [94]:
#2.1
print( 200,'+', 300,'+', 400, '=', 200 + 300 + 400)

200 + 300 + 400 = 900

In [95]:
#2.2
weight = 30
height = 60
print(weight)
print(height)

30
60

In [96]:
#2.3
width = 30
height = 60
print('사각형의 면적 :', width * height)

사각형의 면적 : 1800

In [98]:
#2.4
width = 40
height = 20
print('삼각형의 면적 :', int((width * height) / 2))

삼각형의 면적 : 400

In [99]:
#2.5
width = int(input('정사각형의 밑변을 입력하시오 : '))
print('정사각형의 면적 :', width * width)

정사각형의 밑변을 입력하시오 :  40

정사각형의 면적 : 1600

In [102]:
#2.6
print('1에서 10까지의 합 :', 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10)

1에서 10까지의 합 : 55

In [103]:
#2.7
print('10! =', 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10)

10! = 3628800

In [104]:
#2.8
def print_square_table(start: int, end: int, n: int):

    print(f' {"a":<6}  {"n":<6}  {"a ** n":<6} ')

    for a in range(start, end + 1):
        result = a ** n
        print(f' {a:<6}  {n:<6}  {result:<6} ')


start_value = 2
end_value = 6
n_value = 2
print_square_table(start_value, end_value, n_value)

 a       n       a ** n
 2       2       4
 3       2       9
 4       2       16
 5       2       25
 6       2       36

In [124]:
#2.9
def celsius_to_fahrenheit(celsius: float) -> float:

    return (9/5) * celsius + 32

def print_temperature_table():

    print("섭씨    화씨")
    for celsius in range(0, 51, 10):
        fahrenheit = celsius_to_fahrenheit(celsius)
        print(f"{celsius:<7} {fahrenheit:.1f}")

print_temperature_table()

섭씨    화씨
0       32.0
10      50.0
20      68.0
30      86.0
40      104.0
50      122.0

In [106]:
#2.10
celsius = int(input('섭씨 온도를 입력하세요 : '))
fahrenheit = celsius_to_fahrenheit(celsius)
print(f'섭씨 {celsius} 도는 화씨 {fahrenheit} 도 입니다.')

섭씨 온도를 입력하세요 :  30

섭씨 30 도는 화씨 86.0 도 입니다.

In [107]:
#2.11
def fahrenheit_to_celsisu(fahrenheit: int) -> int:
    return (fahrenheit - 32) * (5/9) 

fahrenheit = int(input('화씨 온도를 입력하세요 :'))
celsius = fahrenheit_to_celsisu(fahrenheit)
print(f'화씨 {fahrenheit} 도는 섭씨 {celsius} 도 입니다.')

화씨 온도를 입력하세요 : 86

화씨 86 도는 섭씨 30.0 도 입니다.

In [127]:
#2.12
radius = 11
PI = 3.141592

def radius_to_circumference(radius: float) -> float:
    return 2 * PI * radius

def radius_to_area(radius: float) -> float:
    return (radius ** 2) * PI

circumference = radius_to_circumference(radius)
area = radius_to_area(radius)

print(f'원의 반지름 = {radius}, 원의 둘레 = {circumference}, 원의 면적 = {area:.15f}')

원의 반지름 = 11, 원의 둘레 = 69.115024, 원의 면적 = 380.132632000000001

In [109]:
#2.13
radius = float(input('원의 반지름을 입력하세요 :'))
circumference = radius_to_circumference(radius)
area = radius_to_area(radius)
print(f'원의 둘레 = {circumference}, 원의 면적 = {area}')

원의 반지름을 입력하세요 : 11

원의 둘레 = 69.115024, 원의 면적 = 380.132632

In [110]:
#2.14
def square_root(x: float) ->float:
    return x**(1/2)

for x in range(2, 11):
    sqrt = square_root(x)
    print(f'{x}의 제곱근 = {sqrt}')

2의 제곱근 = 1.4142135623730951
3의 제곱근 = 1.7320508075688772
4의 제곱근 = 2.0
5의 제곱근 = 2.23606797749979
6의 제곱근 = 2.449489742783178
7의 제곱근 = 2.6457513110645907
8의 제곱근 = 2.8284271247461903
9의 제곱근 = 3.0
10의 제곱근 = 3.1622776601683795

In [111]:
#2.15
a = int(input('밑변을 입력하세요 :'))
b = int(input('높이를 입력하세요 :'))
h = (a**2 + b**2)**(1/2)
print('빗변 :', h)

밑변을 입력하세요 : 5
높이를 입력하세요 : 12

빗변 : 13.0

In [113]:
#2.16.1
z = 1 + 2j
rotated_z = z * 1j

print(f'회전하기 전 : {z}')
print(f'90도 회전한 후 : {rotated_z}')

회전하기 전 : (1+2j)
90도 회전한 후 : (-2+1j)

In [114]:
#2.16.2
z = 1 + 2j
t = (3**0.5 / 2) + (1/2)*1j
rotated_z = z * t

print(f'회전하기 전 : {z}')
print(f'90도 회전한 후 : {rotated_z}')

회전하기 전 : (1+2j)
90도 회전한 후 : (-0.1339745962155614+2.232050807568877j)

In [115]:
#2.17
powers_of_two = [2 << i for i in range(10)]

print(" ".join(map(str, powers_of_two)))

2 4 8 16 32 64 128 256 512 1024

In [117]:
#2.18
n = int(input("정수를 입력하세요: "))

print('이 수가 짝수인가요?', True if n % 2 == 0 else False)

정수를 입력하세요:  20

이 수가 짝수인가요? True

In [92]:
n = int(input("정수를 입력하세요: "))

print('이 수가 짝수인가요?', True if n % 2 == 0 else False)

정수를 입력하세요:  21

이 수가 짝수인가요? False

In [118]:
#2.19
n = int(input('정수를 입력하세요 :'))
print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?', 
      True if (n % 2 == 0 and 0 < n < 101 ) else False)

n = int(input('정수를 입력하세요 :'))
print('입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요?', 
      True if (n % 2 == 0 and 0 < n < 101 ) else False)

정수를 입력하세요 : 120

입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? False

정수를 입력하세요 : 88

입력된 정수는 0에서 100의 범위 안에 있는 짝수인가요? True

In [119]:
#2.20
a = bin(5)
b = bin(6)
print(f'{a} & {b} = {bin(5 & 6)}') 
print(f'{a} | {b} = {bin(5 | 6)}')
print(f'{a} ^ {b} = {bin(5 ^ 6)}')

0b101 & 0b110 = 0b100
0b101 | 0b110 = 0b111
0b101 ^ 0b110 = 0b11

In [120]:
#2.21
n = int(input('정수를 입력하시오 :'))
print(f'{n} 의 2진수 값 :', bin(n))
print(f'{n} 의 2진수 값에 대한 비트단위 부정값 :', bin(~n))

정수를 입력하시오 : 9

9 의 2진수 값 : 0b1001
9 의 2진수 값에 대한 비트단위 부정값 : -0b1010

In [121]:
#2.22
a = int(input('정수 a를 입력하시오 :'))
b = int(input('정수 b를 입력하시오 :'))
print(f'a / b의 몫 :', a//b)
print(f'a / b의 나머지 :', a%b)

정수 a를 입력하시오 : 202
정수 b를 입력하시오 : 50

a / b의 몫 : 4
a / b의 나머지 : 2

In [122]:
#2.23
n = int(input('세 자리 정수를 입력하시오 :'))

print('백의 자리 :', n // 100)
print('십의 자리 :', n % 100 // 10 )
print('일의 자리 :', n % 100 % 10)

세 자리 정수를 입력하시오 : 349

백의 자리 : 3
십의 자리 : 4
일의 자리 : 9

In [123]:
#2.24
n = int(input('세 자리 정수를 입력하시오 :'))

print(n % 100 % 10)
print(n % 100 // 10 )
print(n // 100)

세 자리 정수를 입력하시오 : 349

9
4
3